{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<h1 class="m-4">Liste des utilisateurs enregistrés</h1>

<table class="table table-striped table-hover">
<thead>
    <tr>
        <th>Id</th>
        <th>Pseudonyme</th>
        <th>Email</th>
        <th>Date d'enregistrement</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for user in users %}
    <tr>
        <td>{{user.id }}</td>
        <td>{{user.nickname }}</td>
        <td>{{user.email}}</td>
        <td>{{user.registrationDate | date('d/m/Y') }}</td>
        <td>
            <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-warning" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ?')"><i class="fas fa-user-slash"></i></a>
        </td>
    </tr> 
    {% endfor %}
</tbody>
</table>

{% endblock %}
